body
{
     padding:0;
     margin:0;

}
.main-div
{
    width:25%;
    margin:0px auto;
    margin-top:150px;
    padding:20px;
}
.main-div input
{
display: block;
border: 1px solid black;
border-radius: 5px;
padding: 15px;
outline: none;
width :100%;
 margin-bottom: 20px;
}

